QPushButton#{{name}}SidebarBtn {
    border-image: url(:/res/{{name}}_{{theme}}.png);
}

QLabel#{{name}}SidebarLabel {
    font-size: 16px;
    font-weight: bold;
    color: {{theme}};
    padding-left: 10px;
}